#page-report-outline-index td.numviews {
    text-align: right;
}

#page-report-outline-index tr.section {
    text-align: center;
}

#page-report-outline-index td.lastaccess {
    font-size: 0.8em;
}

#page-report-outline-user .section .content {
    margin-left: 30px;
    margin-right: 30px;
}

#page-report-outline-user .section h2 {
    margin-top: 0;
}

#page-report-outline-user .section {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

#page-report-outline-user .section {
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

/*custom style*/
#outlinetable .activity.cell a{
    cursor: default;
}
#outlinetable .activity.cell a:hover{
    text-decoration: none;
}