#page-report-log-index .info {
    margin: 10px;
}

#page-report-log-index .logselectform {
    margin: 10px auto;
}

#page-report-log-user .info {
    margin: 10px;
    text-align: center;
}


#page-report-log-index table.reportlog  thead tr th:last-child {
    width: 30%;
}

/*custom style*/
body.role-nextgeneditteacher #menucategoryid,
body.role-nextgeneditteacher #menuid,
body.role-editingteacher #menucategoryid,
body.role-editingteacher #menuid,
body.role-teacher #menucategoryid,
body.role-teacher #menuid,
body.role-customteacher #menucategoryid,
body.role-customteacher #menuid,
body.role-principal #menucategoryid,
body.role-principal #menuid {
    display: none;
}