{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}

<header id="page-header" class="row">
    <div class="col-12 pt-3 pb-3">
        <div class="card {{^contextheader}}border-0{{/contextheader}}">
            {{#boostimage}}
                {{{ headerimage }}}
            {{/boostimage}}
            <div class="card-body {{^contextheader}}p-2{{/contextheader}}">
                <div class="d-flex">
                    {{#contextheader}}
                    <div class="mr-auto">
                        {{{contextheader}}}
                    </div>
                    {{/contextheader}}

                    {{#settingsmenu}}
                    <div class="context-header-settings-menu">
                        {{{settingsmenu}}}
                    </div>
                    {{/settingsmenu}}
                    <div class="header-actions-container flex-shrink-0" data-region="header-actions-container">
                        {{#headeractions}}
                            <div class="header-action ml-2">{{{.}}}</div>
                        {{/headeractions}}
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    {{#hasnavbar}}
                    <div id="page-navbar">
                        {{{navbar}}}
                    </div>
                    {{/hasnavbar}}

                    <div class="ml-auto d-flex">
                        {{{pageheadingbutton}}}
                    </div>
                    <div id="course-header">
                        {{{courseheader}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#jitsi}}
        {{{ jitsi }}}
    {{/jitsi}}
    {{#customeJS}}
        {{{ customeJS }}}
    {{/customeJS}}
</header>