﻿/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2020, 10:06:28 PM
    Author     : HP
*/

#page-footer {
	position: relative;
	background-image: -webkit-linear-gradient(to right,#FFEC00,#E63D24); 
	background-image: -o-linear-gradient(to right,#FFEC00,#E63D24); 
	background-image: linear-gradient(to right,#FFEC00,#E63D24);
}

/*start::hide fields from edit profile */
#fitem_id_maildisplay {
	display: none;
}
#fitem_id_moodlenetprofile {
	display: none;
}
fieldset#id_moodle_additional_names{
    display: none;
}
fieldset#id_moodle_interests{
    display: none;
}
fieldset#id_moodle_optional  .fcontainer .fitem{
    display: none;
}
fieldset#id_moodle_optional #fitem_id_phone1,fieldset#id_moodle_optional #fitem_id_phone2,fieldset#id_moodle_optional #fitem_id_address{
    display: flex;
}
/*end::hide fields from edit profile */

/*Start::hide Prefrences links from right drop down menu  */

#page-user-profile .context-header-settings-menu .dropdown-menu .dropdown-item{
    display: none;
}
#page-user-profile .context-header-settings-menu .dropdown-menu .dropdown-item:nth-child(1){
    display: block;
}
#page-user-profile .context-header-settings-menu .dropdown-menu .dropdown-item:nth-child(2){
    display: block;
}
/*end::hide Prefrences links from right drop down menu  */

/*Start::hide tags from forum post reply*/
#page-mod-forum-post #mformforum #id_tagshdr{
display:none;
}

/*hide email digest type column from forum*/
#page-mod-forum-index table tr .c4.lastcol{
display:none;
}

/***12/10/2020***/
/*hide setup tab for non-editing teacher*/
body.role-teacher .grade-navigation ul li.nav-item a[title="Setup"]{
    display:none;
}

/*NAS-190 hide setup tab for non-editing teacher*/
body.role-nextgeneditteacher .grade-navigation ul li.nav-item a[title="Setup"]{
    display:none;
}

/*hide breadcrumb for all*/
#page-navbar ul.breadcrumb{
    display:none;
}

/*category management::hide delete btn from category dropdown for manager role */
body.role-manager#page-course-management .dropdown-item.action-delete.menu-action {
	display: none;
}



/*Start::NAS-133*/
#page-mod-quiz-report .collapsible-actions {
	display: none;
}
#page-mod-quiz-report #fgroup_id_stateoptions {
	display: none;
}
#page-mod-quiz-report #id_preferencesuser {
	display: none;
}
#page-mod-quiz-report #id_preferencespage .fcontainer .form-group.row.fitem{
	display: none;
}

#page-mod-quiz-report #id_preferencespage #fitem_id_attempts{
	display: flex;
}
#page-mod-quiz-report .mdl-align form{
	display: none;
}
#page-mod-quiz-report .mdl-align + .quizattemptcounts{
	display: none;
}
#page-mod-quiz-report .resettable.mdl-right{
	display: none;
}
#page-mod-quiz-report select#id_attempts option[value="all_with"]{
	display: none;
}
#page-mod-quiz-report #commands{
	display: none;
}
#page-mod-quiz-report #attempts tr .c5{
	display: none;
}
/*End::NAS-133*/

/*start::NAS-128*/
#page-mod-assign-view.role-teacher .action-menu .dropdown-menu .dropdown-item{
    padding: 0;
}
#page-mod-assign-view.role-teacher .action-menu .dropdown-menu .dropdown-item a{
    padding: .25rem 1.5rem;
}
#page-mod-assign-view.role-teacher .action-menu .dropdown-menu .dropdown-item .logs{
    display: none;
}

#page-mod-assign-view.role-teacher .action-menu .dropdown-menu .dropdown-item .view-gradebook{
    display: none;
}
#page-mod-assign-view.role-teacher .gradingsummarytable .hiddenfromstudents{
    display: none;
}
/*end::NAS-128*/

/*start::NAS-130*/
#page-mod-assign-grading #fitem_id_sendstudentnotifications{
    display: none;
}
/*end::NAS-130*/


/*When  we click on Course Management>> Quizzes”:Remove the following field and adjust the spacing of other fields accordingly:‘Quiz Closes’. Deepansh*/
/*start::NAS-127  */
#page-mod-quiz-index .generaltable th.header.c2{
	display: none;
}

#page-mod-quiz-index .generaltable td.cell.c2{
	display: none;
}
/*end::NAS-127  */


/*When a teacher clicks on Course Management >> View Activity report:
Remove the column ‘Related Blog Entries’ Deepansh*/
/*start::NAS-135 */
#page-report-outline-index .generaltable th.header.c2{
	display: none;
}

#page-report-outline-index .generaltable td.blog.cell.c2{
	display: none;
}
#page-report-outline-index td.numviews{
text-align:left;
}
/*end::NAS-135  */

/*Course Management>> Study Material Remove the following fields and adjust position of other fields accordingly:Last Modified Description Deepansh*/
/*start::NAS-126 */
#page-mod-pdfannotator-index .generaltable th.header.c2{
	display: none;
}
#page-mod-pdfannotator-index .generaltable th.header.c3.lastcol{
	display: none;
}
#page-mod-pdfannotator-index .generaltable td.cell.c2{
	display: none;
}
#page-mod-pdfannotator-index .generaltable td.cell.c3.lastcol{
	display: none;
}
#page-mod-pdfannotator-index.role-teacher .generaltable tr td .action-menu{
	display: none !important;
}
/*end::NAS-126  */

/*start::NAS-28*/
#page-mod-assign-index .generaltable .grade {
    display: none;
}
#page-mod-assign-index.role-student .generaltable .grade {
    display: block;
}
/*end::NAS-28*/

/*start:NAS-82*/
#page-mod-assign-index.role-teacher .generaltable .due-date{
  display:none;
}
/*end:NAS-82*/

/*start : NAS-162 Deepansh*/
#page-mod-quiz-review .correct .icon.fa.fa-check.text-success {
    color: #5cb85c  !important;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.correct .trafficlight{
    background-color: #5cb85c !important;
}

/*end : NAS-162*/


/*start::NAS-194*/
#nav-drawer::-webkit-scrollbar {
    width: 10px;
}

#nav-drawer::-webkit-scrollbar-thumb {
    background-color: #000;
    outline: 1px solid slategrey;
}
[data-region="drawer"] {
    background-color: #c5c5c5;
}
/*end::NAS-194*/

/*start::NAS-193*/
#nav-drawer ul li a[data-key="myhome"] .media, #nav-drawer ul li div[data-key="mycourses"] .media{
    font-size: 1.1rem;
}
/*end::NAS-193*/

/*Start::NAS-204*/
body[id^="page-course-view"] div#page-content {
	background-color: #f9f9f9;
}

#page-header .customimage,#page-header .withimage {
	 -webkit-mask-image: none;
	 mask-image: none;
	 opacity: 0.9;
}
/*End::NAS-204*/

/*start:NAS-276*/
#page-footer .logininfo, #page-footer .homelink {
	display: none;
}
/*end:NAS-276*/

/*start:NAS-288*/
.path-grade-export .grade-navigation li a[title="Plain text file"]{
	display: none;
}
/*end:NAS-288*/


/*start:NAS-291 hide message option from dropdown*/
nav .usermenu a.dropdown-item.messages, nav .usermenu a.dropdown-item.grades {
	display: none;
}
#nav-drawer ul li a[data-key="grades"]{
	display: none;
}
/*end:NAS-291 hide message option from dropdown*/

/*start:NAS-293 */
#page-course-view-flexsections div[id*="core_user-participantsfilter"]{
	display: none;
}

#page-course-view-flexsections div.initialbar.lastinitial{
	display: none!important;
}

#page-course-view-flexsections #region-main{
	width: 100%;
}

#page-course-view-flexsections [data-region="blocks-column"]{
	display: none;
}
/*end:NAS-293 */


/*Start:NAS-313
body.pagelayout-mydashboard .page-context-header .page-header-headings {
	
	background-color: lightgreen;
	
}*/

body.pagelayout-mydashboard .page-context-header .page-header-headings h1 {
	
	font-size:3.04375rem;
	
}
/*end NAS-313*/

/*Start:NAS-314*/
body.pagelayout-mydashboard .block_myoverview h5.card-title {
	display: none !important;
}
/*end NAS-314*/

/* start NAS-321 */
#studentdashslider .dropdown {
	display: none;
}

#studentdashslider .studentdashboard .studentadministration{
	display: none;
}

/* end NAS-321 */


/*start:Tooltip for badges on  profile page*/
#page-user-profile ul.badges li {
    position: relative;
}

#page-user-profile ul.badges li .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
#page-user-profile ul.badges li:hover .tooltiptext {
    visibility: visible;
}

/*end:Tooltip for badges on  profile page*/

@media only screen and (max-width: 600px) {

	#page-login-index #region-main{
		padding: 0;
	}

	#page-login-index #region-main .hidden-sm-down{
		display: none;
	}

	#page-login-index #region-main .signin .col-xl-3.push-xl-1.col-md-4{
		padding: 0;
	}
	#page-login-index #region-main .signin .fpsignup{
		margin: 0;
	}
  }

  #page-badges-view.role-student .table .criteria{
	  display: none;
  }
  
  #page-badges-view.role-student [role="main"] .singlebutton{
	  display: none;
  }

  .activity-navigation {
	  background-color: #FFF4EF;
	  padding:0;
  }

  body.path-course-view #section-0 ul.section{
	  display: none;
  }
 