#page-footer {
	position: relative;
	background-image: inherit; 
}

/*hide message option from dropdown*/
nav .usermenu a.dropdown-item.messages, nav .usermenu a.dropdown-item.grades {
	display: none;
}

/*hide message btn from dashboard*/
#page-my-index .page-context-header a#message-user-button {
	display: none;
}

/*hide breadcrumb for all*/
#page-navbar ul.breadcrumb{
    display:none;
}

#page-mod-quiz-attempt #maincontent {
	width:100%
}


@media only screen and (max-width: 580px) {
    /* For mobile phones: */
    #page-my-index #region-main, #page-my-index .block_calendar_month {
        display: none;
    }
   
  }