.path-mod-data-field .c0,
#page-mod-data-view #sortsearch .c0 {
    text-align: right;
}

#page-mod-data-view .approve img.icon {
    width: 34px;
    height: 34px;
}

.path-mod-data #id_entrieshdr div .alert.alert-danger {
    margin-bottom: 2rem;
}

#page-mod-data-view img.list_picture {
    border: 0;
}

#page-mod-data-view div.search_none {
    display: none;
}

#page-mod-data-view div.search_inline,
#page-mod-data-view form#latlongfieldbrowse {
    display: inline;
}

#page-mod-data-view div#data_adv_form {
    margin-left: auto;
    margin-right: auto;
}

#page-mod-data-edit .basefieldinput {
    width: 300px;
}

/** Styles for preset.php **/
#page-mod-data-preset .presetmapping table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#page-mod-data-preset .overwritesettings {
    margin-bottom: 1em;
}

#page-mod-data-preset table.presets {
    margin-left: auto;
    margin-right: auto;
}

/** Styles for the search form **/
#page-mod-data-view .datapreferences label {
    display: inline-block;
}

/** Styles for field.php **/
.path-mod-data-field .fieldadd,
.path-mod-data-field .sortdefault {
    margin: 1em 0;
}

.path-mod-data-field .fieldadd select,
.path-mod-data-field .sortdefault select {
    margin-left: 1em;
}

.path-mod-data-field .fieldname,
.path-mod-data-field .fielddescription {
    width: 300px;
}

.path-mod-data-field textarea.optionstextarea {
    width: 300px;
    height: 150px;
}

.path-mod-data-field input.textareafieldsize {
    width: 50px;
}

.path-mod-data-field input.picturefieldsize {
    width: 70px;
}

.path-mod-data .action-icon img.portfolio-add-icon {
    margin-left: 0;
}

/** UI Usability Hacks **/
#page-mod-data-export #notice span {
    padding: 0 10px;
}
/*rtl:ignore*/
#page-mod-data-edit input[id*="url"] {
    text-align: left;
    direction: ltr;
}

.mod-data-default-template td {
    vertical-align: top;
}

.mod-data-default-template .template-field {
    text-align: right;
}

.mod-data-default-template .template-token {
    text-align: left;
}

.mod-data-default-template .controls {
    text-align: center;
}

.mod-data-default-template .searchcontrols {
    text-align: right;
}

.mod-data-default-template.notapproved {
    background-color: #fcc;
}

#page-mod-data-templates td.save_template,
#page-mod-data-templates .template_heading {
    text-align: center;
}

#page-mod-data-templates #availabletags_wrapper {
    max-width: 250px;
}

#page-mod-data-edit .req {
    cursor: help;
}

#page-mod-data-edit .inline-req .req {
    position: absolute;
}

#page-mod-data-edit .inline-req {
    text-align: left;
}

#page-mod-data-edit .mod-data-input {
    margin-left: 10px;
}

#page-mod-data-edit .datatagcontrol {
    padding-left: 10px;
}

#page-mod-data-view:not(.role-manager) #region-main-box #region-main .nav.nav-tabs{
    display: none;
} 
#page-mod-data-view:not(.role-manager) #region-main-box #region-main .datapreferences{
    display: none;
} 

#page-mod-data-view table tr td, table tr th {
    border: none;
}

#page-mod-data-view #page table thead tr {
    background-color: #FFCA1E !important;
  }
  
  #page-mod-data-view #page table tbody tr:nth-child(odd) {
    background-color: #E6EDFE !important;
  }
  
  #page-mod-data-view #page table tbody tr:nth-child(even) {
    background-color: #FFE48E !important;
  }